---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 80

AlignAfterOpenBracket: BlockIndent
AlignOperands: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments:
  Kind: Never
AlignArrayOfStructures: None

BinPackArguments: false
BinPackParameters: OnePerLine
BinPackLongBracedList: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: CurrentLine
BreakInheritanceList: BeforeComma

IndentCaseLabels: true

AccessModifierOffset: -2
...
